.color-info-box,
.alpha-selector {
  display: none;
}

.main-container {
  height: 204px !important;
  width: 240px !important;
}

.color-picker.svelte-iwvr3r {
  position: relative !important;
  width: 300px;
  height: 210px;
}
